{% extends "layout.html" %}
{% block body %}
<div class="page-wrap">
<center>
        <table>
                <tr>
                        <th>
                                Name
                        </th>
                        <th>
                                USN
                        </th>
                </tr>
                <tr>
                        <td>Pavan Kumar K N &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>1RV18CS420</td>
                </tr>
                <tr>
                                <td>Nandish  B J</td>
                                <td>1RV18CS416</td>
                        </tr>
        </table>
</center>
</div>
<style>

</style>
{%endblock%}