{% extends "layout.html" %}
{% block body %}
<div class="page-wrap">
<center>
       <u><h1> Amendments</h1><br><br><br></h1></u>
       <h5>Traffic Violation & Fine Amount in India in 2019</h5><br><br>
       <table>
               <tr>
                       <th>
violations
                       </th>
                       <th>
Fine Ammount
                       </th>
               </tr>
               <tr>
                       <td>
                                Overloading Two-wheelers
                       </td>
                       <td>
                                Rs. 2000; License scrapping for three months
                        </td>
               </tr>
               <tr>
                        <td>
                                        Drunken Driving   
                        </td>
                        <td>
                                        Rs. 10,000
                                </td>
                </tr>
                <tr>
                                <td>
                                                Overspeeding 
                                </td>
                                <td>
                                                Rs. 1,000 for LMV; Rs. 2,000 for MMV
                                        </td>
                        </tr>
                        <tr>
                                        <td>
                                                        Dangerous Driving   
                                        </td>
                                        <td>
                                                        Rs. 5,000
                                                </td>
                                </tr>
                                <tr>
                                                <td>
                                                                Driving Without Car or Two Wheeler Insurance&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                </td>
                                                <td>
                                                                Rs. 2,000
                                                        </td>
                                        </tr>
                                        <tr>
                                                        <td>
                                                                        Signal Jumping
                                                        </td>
                                                        <td>
                                                                        Rs. 1000; License scrapping for three months
                                                                </td>
                                                </tr>
                                                <tr>
                                                                <td>
                                                                                Riding Without Helmet
                                                                </td>
                                                                <td>
                                                                                Rs. 1000; License scrapping for three months
                                                                        </td>
                                                        </tr>
                                                        <tr>
                                                                        <td>
                                                                                        Driving Without Permit
                                                                        </td>
                                                                        <td>
                                                                                        Up to Rs. 10,000
                                                                                </td>
                                                                </tr>
       </table>
       <p>
       <br> <br><br><br><h5>Indian Motor Vehicles Acts, from 1914-2016</h5><br>
        The "Indian Motor Vehicles Act, 1914" was amended by the "Indian Motor Vehicles (Amendment) Act, 1920" (Act No. XXVII of 1920) passed by the Imperial Legislative Council. It received assent from the Governor General of India on 2 September 1920. The Act amended sections 11 and 18 of the 1914 Act.<br>
        
        The Act was amended again by the "Indian Motor Vehicles (Amendment) Act, 1924" (Act No. XV of 1924).<br> The Act received assent from the Governor General on 18 September 1924. It had the title, "An Act further to amend the Indian Motor Vehicles Act, 1914, for certain purposes" and amended section 11 of the 1914 Act by inserting the words "and the duration for which" after the words "area in which" in clause (a) of subsection (2) of section 11.<br> The motor vehicle act has again been amended in 2016.<br>
        
        <br><br> <h5>Indian Motor Vehicles (Amendment) Act,2017</h5><br>
        This will be a significant upgrade to the motor vehicle laws.<br> It envisages body cams on traffic cops and RTO officials to check corruption and 7-year imprisonment instead of current 2 years for drink-driving deaths, mandatory 3rd party insurance for all vehicles, and stiffer penalties for traffic violations to reduce the accident rates.<br>
        
        However due to frequent disruptions in Rajya Sabha and lack of support from Indian National Congress, the bill failed to turn into act and lapsed after the conclusion of interim budget session and on the account of general elections.<br>
        
        <br><br><h5>Indian Motor Vehicles (Amendment) Act, 2019</h5><br>
      
        Motor Vehicles amendment Act has came in to force on 1st September 2019, providing higher penalties for traffic offences<br></p>
</center>
</div>
<style>
        
        </style>
{%endblock%}