{% extends "layout.html" %}
{% block body %}

<center><h4><b>LLR Requests</b></h4></center>
{%if data%}
<div class="container">
    <div class="row">
<div class="col-md-8">
        
    <table> 
        
    
        <tr>
            <th>Name:</th>
            <th>age:</th>
            <th>city:</th>
            <th>gender:</th>
            <th>applied date</th>
            <th>type:</th>
            <th>aadhar</th>
            <th>voter id</th>
            <th>sslc</th>
            <th>details</th>
            <th>feedback</th>


        </tr>
       
        {% for row in data %}
        <form method=post  action="/edit/{{ row[1] }}">
        <tr>    
            <td>{{row[0]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>

            <td><a href="/aadhar/{{ row[1] }}"><button type="button" class="btn-default">aadhar</button></a></td>
            <td><a href="/voterid/{{ row[1] }}"><button type="button" class="btn-success">voterid</button></a></td>
            <td><a href="/sslc/{{ row[1] }}"><button type="button" class="btn-primary">sslc</button></a></td>
            <td><a href="/details/{{ row[1] }}"><button type="button" class="btn-danger">details</button></a></td>
            <td><input type="text" name="feedback"></td>
            <td><input type="submit" name="action" class="btn-warning" value="accept"></td>
            <td><input type="submit" name="action" class="btn-warning" value="reject"></td>

        </tr>
    </form>
{% endfor %}
    </table>

    
</div>


</div>
{%else%}
<center>
    <br><br>
    <p> No requests for LLR</p>
</center>
        {%endif%}
    
{% endblock%}