{% extends "layout.html" %}
{% block body %}

<center><h4><b>vehicle registration Requests</b></h4></center>
{%if data%}
<div class="container">
    <div class="row">
<div class="col-md-8">
       
    <table>
        <tr>
            <th>Name</th>
            <th>Engine Number</th>
        </tr>
       
        {% for row in data %}
        <form method=post  action="/vredit/{{ row[5] }}">
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[5]}}</td>
            <td><a href="/vehicledetails/{{ row[5] }}"><button type="button" class="btn-danger">Details</button></a></td>
            <td><a href="/frontview/{{ row[5] }}"><button type="button" class="btn-default">Front View</button></a></td>
            <td><a href="/sideview/{{ row[5] }}"><button type="button" class="btn-success">Side View</button></a></td>
            <td><a href="/backview/{{ row[5] }}"><button type="button" class="btn-primary">Back View</button></a></td>
            
            
            <td><input type="submit" name="action" class="btn-warning" value="accept"></td>
            <td><input type="submit" name="action" class="btn-warning" value="reject"></td>

        </tr>
{% endfor %}
    </table>
    </form>
</div>
{%else%}
<p><br><br>No Requests</p>
{%endif%}


</div>
{% endblock%}