{% extends "layout.html" %}
{% block body %}

<center><h4><b>Vehicle Registration Requests</b></h4></center>
{%if data%}
<div class="container">
    <div class="row">

       
    <table>
        <tr>
            <th>Name</th>
            <th>Engine Number</th>
            <th> </th>
            <th> </th>
        </tr>
       
        {% for row in data %}
        <form method=post  action="/vredit/{{ row[5] }}">
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[5]}}</td>
            <td><a href="/vehicledetails/{{ row[5] }}"><button type="button" class="button button1">Details</button></a></td>
            <td><a href="/frontview/{{ row[5] }}"><button type="button" class="button button2">Front View</button></a></td>
            <td><a href="/sideview/{{ row[5] }}"><button type="button" class="button button1">Side View</button></a></td>
            <td><a href="/backview/{{ row[5] }}"><button type="button" class="button button2">Back View</button></a></td>      
            <td><input type="submit" name="action" class="button button3" value="Accept"></td>
            <td><input type="submit" name="action" class="button button4" value="Reject"></td>
        </tr>
{% endfor %}
    </table>
    </form>
</div>
{%else%}
<p><br><br>No Requests</p>
{%endif%}



<style>
    .button {
      background-color: rgb(151, 241, 241); /* Green */
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
    }
    
    .button1 {
      background-color: white; 
      color: black; 
      border: 2px solid rgb(151, 241, 241);
    }
    
    .button1:hover {
      background-color: rgb(151, 241, 241);
      color: white;
    }
    .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(240, 19, 56);
  }
  
  .button2:hover {
    background-color: rgb(233, 23, 68);
    color: white;
  }
  table {
                  font-family: arial, sans-serif;
                  border-collapse: collapse;
                  width: 100%;
                }
        
                th {
                  border: 5px solid #924fdf;
                  text-align: center;
                  background-color: rgb(151, 241, 241);
                  padding: 8px;
                }
                td{
                  border: 5px solid #dddddd;
                  text-align: center;
                  padding: 8px;
                }
                
                tr:nth-child(even) {
                  background-color: #dddddd;
                }


  /*TABLES STYLES*/


  
    </style>
{% endblock%}