{% extends "layout.html" %}
{% block body %}
    <!--<body>
        <form class="" action="{{url_for('llr')}}" method="POST", enctype="multipart/form-data">
            {{form.csrf_token}}
            <h3>Uplaod Adhar :</h3> {{form.file1()}}
            
            <h3>Uplaod SSLC : </h3> {{form.file2()}}
            
            <h3>Uplaod VOTER :</h3>{{form.file3()}} <br><br><br>
            {{form.check}} I agree to terms and conditions and i pledge that i am a citizen of india and im atleast 18 years<br><br><br>
            {{form.submit()}}            
        </form>
        <div class ="container">
            <form method ="POST" action="/llr" enctype="multipart/form-data">
            <div class="form-group">

                <label for="inputFile">FILE INUT</label>
                <input type="file" name="inputFile">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
            </form>
        </div>-->
        
{%endblock%}