{% extends "layout.html" %}
{% block body %}
        <div class="container">
           
            {% from "formhelper.html" import render_field %}
            <form method=post  action="" enctype=multipart/form-data>
              {% if t == "none" %}
              <h1>Enter Details:</h1><br><br>
          <div class="row">
              <div class="col-md-4">
                  <div class="form-group input-group-lg">
                      {{render_field(form.firstname, class_="form-control")}}
                    </div>
              </div>
            <div class="col-md-4">
        
        
        
      
        <div class="form-group input-group-lg">
          {{render_field(form.lastname, class_="form-control")}}
        </div>
        <div class="form-group input-group-lg">
          {{render_field(form.fathersname, class_="form-control")}}
        </div>
        <div class="form-group input-group-lg">
          {{render_field(form.email, class_="form-control")}}
        </div>
        
        <div class="form-group input-group-lg">
          {{render_field(form.address, class_="form-control")}}
        </div>
        <div class="form-group input-group-lg">
          {{render_field(form.pincode, class_="form-control")}}
        </div>
        <div class="form-group input-group-lg">
          {{render_field(form.city, class_="form-control")}}
        </div>
        <div class="form-group input-group-lg">
          {{render_field(form.district, class_="form-control")}}
        </div>
        <div class="form-group input-group-lg">
          {{render_field(form.state, class_="form-control")}}
        </div>
        <div class="form-group input-group-lg">
          {{render_field(form.country, class_="form-control")}}
        </div>
        <div class="form-group input-group-lg">
          {{render_field(form.dob, class_="form-control")}}
        </div>
        <div class="form-group input-group-lg">
          {{render_field(form.age, class_="form-control")}}
        </div>
        <div class="form-group input-group-lg">
          {{render_field(form.gender, class_="form-control")}}
        </div>
        <div class="form-group input-group-lg">
          {{render_field(form.phone, class_="form-control")}}
        </div>
        <div class="form-group input-group-lg">
          {{render_field(form.blood_group, class_="form-control")}}
        </div>
        <div class="form-group input-group-lg">
           
                 <select class="form-control" name="typee" id="typee">
                 
                   <option value="lmv">lmv</option>
                   <option value="mcwg">mcwg</option>
                   <option value="tractor">tractor</option>
                   <option value="lmv:mcwg">lmv+mcwg</option>
                   <option value="lmv:tractor">lmv+tractor</option>
                   <option value="mcwg:trator">mcwg+tractor</option>

                   <option value="lmv:mcwg:tractor">lmv+mcwg+tractor</option>
                  
                 </select>
        </div>
        <div class="form-group input-group-lg">
          {{render_field(form.rtooffice, class_="form-control")}}
        </div>
        <input type="file" name="aadhar">uploadADHAR
        <br>
        <input type="file" name="photo">upload photo
        <br>
        <input type="file" name="sslc">upload sslc
        <br>
        <input type="file" name="voterid">upload sslc
        <br>
        <input type="file" name="signature" >upload signature    <br><br>
        <input type="submit" value="submit">
  </div>     
           
        {% else %}
        <h1>you already entered your details,select another license type to apply </h1><br><br>
<div class="row">
  <div class="col-md-4">
</div>
<div class="col-md-4">
        <div class="form-group input-group-lg">
           
            <select class="form-control" name="typee">
              {% if t[0] == "lmv" %}
              <option value="lmv:mcwg">mcwg</option>
              <option value="lmv:tractor">tractor</option>
              <option value="lmv:mcwg:tractor">mcwg+tractor</option>
              {% elif t[0] == "mcwg" %}
              <option value="lmv:mcwg">lmv</option>
              <option value="lmv:tractor">tractor</option>
              <option value="lmv:mcwg:tractor">lmv+tractor</option>
              {% elif t[0] == "tractor" %}
              <option value="lmv:tractor">lmv</option>
              <option value="mcwg:tractor">mcwg</option>
              <option value="lmv:mcwg">lmv+mcwg</option>
              {% elif t[0] == "lmv:mcwg" %}
              <option value="lmv:mcwg:tractor">tractor</option>
              {% elif t[0] == "lmv:tractor" %}
              <option value="lmv:mcwg:tractor">mcwg</option>
              {% elif t[0] == "mcwg:tractor" %}
              <option value="lmv:mcwg:tractor">lmv</option>
              {% elif t[0] == "none" %}
              <option value="lmv">lmv</option>
              <option value="mcwg">mcwg</option>
              <option value="tractor">tractor</option>
              <option value="lmv:mcwg">lmv+mcwg</option>
              <option value="lmv:tractor">lmv+tractor</option>
              <option value="mcwg:trator">mcwg+tractor</option>

              <option value="lmv:mcwg:tractor">lmv+mcwg+tractor</option>
              {% endif %}
            </select></br>
            <input type="submit" value="submit">
   </div>
</div>
</div>

   {% endif %}
          </form>
          </div>
        </div>
        </div>

        
        
  {% endblock %}