{% extends "layout.html" %}
{% block body %}
        <div class="container">
           
            {% from "formhelper.html" import render_field %}
            <form method=post  action="" enctype=multipart/form-data>
              
              <h1>Enter Details:</h1><br><br>
          <div class="row">
              <div class="col-md-4">
                  <div class="form-group input-group-lg">
                      {{render_field(form.firstname, class_="form-control")}}
                    </div>
                    <div class="form-group input-group-lg">
                        {{render_field(form.email, class_="form-control")}}
                      </div>
                      <div class="form-group input-group-lg">
                          {{render_field(form.pincode, class_="form-control")}}
                        </div>
                        <div class="form-group input-group-lg">
                            {{render_field(form.country, class_="form-control")}}
                          </div>
                          <div class="form-group input-group-lg">
                              {{render_field(form.gender, class_="form-control")}}
                            </div>
                            <label name="Select Type">Select Type</label>
                            <div class="form-group input-group-lg">
           
                                <select class="form-control" name="typee" id="typee">
                                
                                  <option value="lmv">lmv</option>
                                  <option value="mcwg">mcwg</option>
                                  <option value="tractor">tractor</option>
                                  <option value="lmv:mcwg">lmv+mcwg</option>
                                  <option value="lmv:tractor">lmv+tractor</option>
                                  <option value="mcwg:trator">mcwg+tractor</option>
               
                                  <option value="lmv:mcwg:tractor">lmv+mcwg+tractor</option>
                                 
                                </select>
                       </div>
                   
              </div>
            <div class="col-md-4">
        
        
        
      
        <div class="form-group input-group-lg">
          {{render_field(form.lastname, class_="form-control")}}
        </div>
       
        <div class="form-group input-group-lg">
            {{render_field(form.address, class_="form-control")}}
          </div>
        
     
       
      
        <div class="form-group input-group-lg">
          {{render_field(form.district, class_="form-control")}}
        </div></br>
        dob:
        
      
        <input type = "text" name="dob" placeholder="dd/mm/yyyy" id="dob" class="form-control">
        <div class="form-group input-group-lg">
            {{render_field(form.phone, class_="form-control")}}
          </div>
       
       
       
      
        <div class="form-group input-group-lg">
          {{render_field(form.rtooffice, class_="form-control")}}
        </div>
        
  </div>  
  <div class="col-md-4">
      <div class="form-group input-group-lg">
          {{render_field(form.fathersname, class_="form-control")}}
        </div>
        <div class="form-group input-group-lg">
            {{render_field(form.city, class_="form-control")}}
          </div>
          <div class="form-group input-group-lg">
              {{render_field(form.state, class_="form-control")}}
            </div></br>
age:
            <input type = "text" name="age" onfocus = "getAge(this)" id="age" class="form-control">
             
                
                <div class="form-group input-group-lg">
                    {{render_field(form.blood_group, class_="form-control")}}
                  </div>
  </div>   
          </div> 
          <div class="row">
             
<div class="col-md-4"></div>
              <div class="col-md-8">
<table>
  <tr>
      <td>Upload AADHAR:</td>
    <td><input type="file" name="aadhar"></td>
   
  </tr>
  <tr>
      <td>Upload photo</td>
    <td> <input type="file" name="photo"></td>
     
  </tr>
  <tr>
    <td>Upload SSLC Marks Card:</td>
    <td><input type="file" name="sslc"></td>
  </tr>
  <tr>
    <td>Upload Voter Id</td>
    <td> <input type="file" name="voterid"></td>
  </tr>
  <tr>
    <td>Upload signature:</td>
    <td> <input type="file" name="signature" ></td>
  </tr>
</table>

  </div>

          </div>
        <input type="submit" value="submit">
        


          </form>
          </div>
        
        <style>
          .button {
            background-color: rgb(151, 241, 241); /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
          }
          
          .button1 {
            background-color: white; 
            color: black; 
            border: 2px solid rgb(151, 241, 241);
          }
          
          .button1:hover {
            background-color: rgb(151, 241, 241);
            color: white;
          }
          .button2 {
          background-color: white; 
          color: black; 
          border: 2px solid #008CBA;
        }
        
        .button2:hover {
          background-color: #008CBA;
          color: white;
        }
          </style>
        
     <script>
     
     function getAge(x) {
      var inputVal = document.getElementById("dob").value;
var dates = inputVal.split("/");
var d = new Date();

var userday = dates[0];
var usermonth = dates[1];
var useryear = dates[2];

var curday = d.getDate();
var curmonth = d.getMonth()+1;
var curyear = d.getFullYear();

var age = curyear - useryear;

if((curmonth < usermonth) || ( (curmonth == usermonth) && curday < userday   )){

    age--;

}
document.getElementById('age').value=age;

document.getElementById("age").blur(); 
if(age<18)
{
  alert('Age must be greater than 18 to apply LLR');

}


}
     
     </script>   
  {% endblock %}