{% extends "layout.html" %}
{% block body %}

<div class="page-wrap">
<center>
<div class="jumbotron pl-4 pt-4">
<div class="container">
        </br>
        <h1>
        Welcome, {{session.get('logname')}}
</div>
</div>

<br><br><br>
<table>
        <tr>
                <td><div class="button-4">
                  <div class="eff-4"></div>
                  <a href="/adminllr">LLR requests</a>
                </div></td>
              </tr>
              <tr>
                <td><div class="button-4">
                  <div class="eff-4"></div>
                  <a href="/admindlr">DLR requests</a>
                </div></td>
              </tr>
              <tr>
                <td><div class="button-4">
                  <div class="eff-4"></div>
                  <a href="/adminregv">Vehicles registration requests</a>
                </div></td>
              </tr>
              <tr>
                <td><div class="button-4">
                  <div class="eff-4"></div>
                  <a href="/adstatus">Generate Report</a>
                </div></td>
              </tr>
</table>
<br>
<br>
<br>

</center>




</div>
<style>
.button-4{
  font-family: 'Poppins', sans-serif;
  width:1000px;
  height:50px;
  border:2px solid #34495e;
  float:left;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin:0 0 40px 50px;
  background-color:rgb(255, 255, 255);
  
  
}
.button-4 a{
  font-family:arial;
  font-size:16px;
  color:#34495e;
  text-decoration:none;
  line-height:50px;
  transition:all .3s ease;
  z-index:2;
  position:relative;
  
}
.eff-4{
  width:1000px;
  height:50px;
  left:-1000px;
  background:rgb(151, 241, 241);
  position:absolute;
  transition:all .3s ease;
  z-index:1;
}
.button-4:hover .eff-4{
  left:0;
}
.button-4:hover a{
  color:#fff;
}
.vl {
  border-left: 6px solid rgb(151, 241, 241);
  height: 350px;
}
</style>
{%endblock%}