{% extends "layout.html" %}
{% block body %}

<div class="container">
  <div class="row">
      <div class="col-md-4">
      </div>
    <div class="col-md-4">

<img class="mb-4" width="72" height="72" src="{{ url_for('static',filename='user_login.png')}}" >
<h1>login Here:</h1><br><br>
{% from "formhelper.html" import render_field %}
<form method=post  action="">
<div class="form-group input-group-lg">
  {{render_field(form.email, class_="form-control")}}
</div>
  <div class="form-group input-group-lg">
      {{render_field(form.password, class_="form-control")}}
    </div>
    <div class="form-group input-group-lg">
      {{render_field(form.secretkey, class_="form-control")}}
    </div>
      <input type="submit" name="login" value="login"></br>
    

  </form>
  </div>
</div>
</div>

{% endblock %}
