<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
  <center>
    <div>
      This is to certify that the candidate Mr . {{data[1]}} {{data[2]}} has completed the training and has earned his lerner's licence.
    </div>
  


<table>
    <tr>
        <th>LLR No</th>
        <td>{{data[22]}}</td>
      </tr>
        <tr>
          <th>First Name</th>
          <td>{{data[1]}}</td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td>{{data[2]}}</td>
        </tr>
        <tr>
          <th>Fathers Name</th>
          <td>{{data[3]}}</td>
        </tr>
        <tr>
                <th>Email</th>
                <td>{{data[4]}}</td>
              </tr>
        <tr>
          <th>Address</th>
          <td>{{data[5]}}</td>
          
        </tr>
        <tr>
          <th>Pincode</th>
          <td>{{data[6]}}</td>
          </tr>
          <tr>
            <th>city</th>
            <td>{{data[7]}}</td>
            </tr>
            <tr>
              <th>district</th>
              <td>{{data[8]}}</td>
              </tr>
              <tr>
                <th>state</th>
                <td>{{data[9]}}</td>
                </tr>
                <tr>
                  <th>country</th>
                  <td>{{data[10]}}</td>
                  </tr>
                  <tr>
                    <th>dob</th>
                    <td>{{data[11]}}</td>
                    </tr>
                    <tr>
                      <th>Gender</th>
                      <td>{{data[13]}}</td>
                      </tr>
                      <tr>
                        <th>Phone</th>
                        <td>{{data[14]}}</td>
                        </tr>
                          <tr>
                            <th>bloodgroup</th>
                            <td>{{data[15]}}</td>
                            </tr>
                            <tr>
                              <th>Date of expire</th>
                              <td>{{data[17]}}</td>
                              </tr>
                              <tr>
                                <th>Type</th>
                                <td>{{data[19]}}</td>
                                </tr>
       
      </table>
      <b>
      is licenced to drive throughout India as a learner subject to the provisions of rule 3 of the Central
Motor Vehicles Rules 1989, a motor vehicle of the following description<br>
*The holder of the licence is exempted from the medical test under rule 6 and from the
Preliminary test under rule11(2)of the Central Motor Vehicle Rules,1989<br>
.......................................................................................................................................<br>
Motor Cycle with Gear(Non Transport),<br>
*The holder of the licence has passed the preliminary test referred to in rule 11(1) of the CMV<br>
Rules ,1989.<br>
The attention of the holder of this licence is drawn to rule 3 of CMV Rules, 1989 which prohibits him<br>
from driving any motor vehicle unless he has besides him a person duly licenced to drive the vehicle<br>
and in every case , the vehicle carries "L" plates both in front and in the rear of the vehicle.<br>
NOTE:This is computer generated document. It does not require any authentication<br></b>  
</center>
      </body>
      </html>
