<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>


<table>
        <tr>
          <th>Name</th>
          <td>{{data[1]}}</td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td>{{data[2]}}</td>
        </tr>
        <tr>
          <th>Fathers Name</th>
          <td>{{data[3]}}</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>{{data[4]}}</td>
          
        </tr>
        <tr>
          <th>Pincode</th>
          <td>{{data[5]}}</td>
          </tr>
          <tr>
            <th>city</th>
            <td>{{data[6]}}</td>
            </tr>
            <tr>
              <th>district</th>
              <td>{{data[7]}}</td>
              </tr>
              <tr>
                <th>state</th>
                <td>{{data[8]}}</td>
                </tr>
                <tr>
                  <th>country</th>
                  <td>{{data[0]}}</td>
                  </tr>
                  <tr>
                    <th>dob</th>
                    <td>{{data[0]}}</td>
                    </tr>
                    <tr>
                      <th>age</th>
                      <td>{{data[0]}}</td>
                      </tr>
                      <tr>
                        <th>gender</th>
                        <td>{{data[0]}}</td>
                        </tr>
                        <tr>
                          <th>phone</th>
                          <td>{{data[0]}}</td>
                          </tr>
                          <tr>
                            <th>bloodgroup</th>
                            <td>{{data[0]}}</td>
                            </tr>
                            <tr>
                              <th>date of applied</th>
                              <td>{{data[0]}}</td>
                              </tr>
                              <tr>
                                <th>type</th>
                                <td>{{data[0]}}</td>
                                </tr>
       
      </table>
      </body>
      </html>
