{% extends "layout.html" %}
{% block body %}

<div class="container">
  <div class="row">
      <div class="col-md-4">
      </div>
    <div class="col-md-4">
<form method="POST" action="" class="form-group input-group-lg">
<img class="mb-4" width="72" height="72" src="{{ url_for('static',filename='user_login.png')}}"   >

<br><br><input id="email" type="text" class="form-control" placeholder="Enter Your E-mail"><br/>
<label class="sr-only" for="password">password</label>
<input id="password" type="text" class="form-control" placeholder="Enter Your Password"><br/>
<button type="button" class="btn-primary">Login</button><br/><br>
<a href="/signup"><button type="button" class="btn-primary">Sign-Up</button></a>
</form>
</div>
</div>
</div>
{% endblock %}
