{% extends "layout.html" %}
{% block body %}
<div class="text-center">
<div class="containerr"> 
<form method="POST" action="" class="form-signin">
  <label class="sr-only" for="email">e-mail</label>
<input id="email" type="text" class="form-control" placeholder="e-mail"><br/>
<label class="sr-only" for="password">password</label>
<input id="password" type="text" class="form-control" placeholder="password"><br/>
<button type="button" class="btn btn-primary">Login</button><br/>
 <a href="/register"> <button type="button" class="btn btn-primary">Sign-Up</button></a>
</form>
</div>
</div>
{% endblock %}
