<div class="wrapper">
  <!-- Sidebar  -->
  
  <nav id="sidebar" class="active">
      <div class="sidebar-header">
          <h3><a href="/">RTO Database</a></h3>
      </div>

      <ul class="list-unstyled components">
          <p>Choose An Option</p>
         
          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-book">   Brochure</i></a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                      <a href="#">Road Safety</a>
                  </li>
                  <li>
                      <a href="#">Acts and Rules</a>
                  </li>
                  <li>
                      <a href="#">Pollution Control</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="/about"><i class="fa fa-info-circle">    About</i></a>
          </li>
          
          <li>
              <a href="/contact"><i class="fa fa-phone"></i>  Contact Us</a>
          </li>
      </ul>

     
  </nav>

  <!-- Page Content  -->
  <div id="content">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

              <button type="button" id="sidebarCollapse" class="btn text-sidebar bg-turbo-yellow" color="black">
                  <i class="fa fa-bars"></i>
                  <span></span>
              </button>
              <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" ;>
                  <i class="fas fa-align-justify"></i>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                  <ul class="nav navbar-nav ml-auto">
              
                      
                    
                      <div class="dropdown" id="navbarSupportedContent">
                           {% if session.get("email", None) == None %}
                        <button class="dropbtn" style="font-size: 20px;" >Login</button>
                        <div class="dropdown-content" >
                        <a href="/login"><i class="fa fa-user-circle">   User Login</i></a>
                        <a href="/emplogin"><i class="fa fa-user-secret">  Employee Login</i></a>
                        
                        </div>
                        {% else %}
                                {% if session.get("key",None) == "user" %}
                                
                                <button class="dropbtn"><a href="/userdashboard"> {{ session.get('logname') }} </a></button>
                        <div class="dropdown-content" id="navbarSupportedContent">
                                <a href="/logout"><i class="fa fa-sign-out">  logout</i></a>
                                </div>
                                {% elif session.get("key",None)== "admin" %}
                                <button class="dropbtn"> <a href="/empdashboard"> {{ session.get('logname') }} </a></button>
                                <div class="dropdown-content">
                                        <a href="/logout"><i class="fa fa-sign-out">  logout</i></a>
                                 </div>
                                
                                 {% endif %}
                                {% endif %}


                                


                      </div> 
                     
                  </ul>
              </div>
          </div>
      </nav>

     

      <style>
        $turbo-yellow: #ffcc19;
$turbo-yellow-10: lighten($turbo-yellow, 40%);
$turbo-yellow-20: lighten($turbo-yellow, 30%);
$turbo-yellow-30: lighten($turbo-yellow, 20%);
$turbo-yellow-40: lighten($turbo-yellow, 10%);
$turbo-yellow-50: lighten($turbo-yellow, 0%);
$turbo-yellow-60: darken($turbo-yellow, 10%);
$turbo-yellow-70: darken($turbo-yellow, 20%);
$turbo-yellow-80: darken($turbo-yellow, 30%);
$turbo-yellow-90: darken($turbo-yellow, 40%);

.bg-turbo-yellow {
background-color: $turbo-yellow;
}

.bg-turbo-yellow-10 {
background-color: $turbo-yellow-10;
}
.bg-turbo-yellow-20 {
background-color: $turbo-yellow-20;
}
.bg-turbo-yellow-30 {
background-color: $turbo-yellow-30;
}
.bg-turbo-yellow-40 {
background-color: $turbo-yellow-40;
}
.bg-turbo-yellow-50 {
background-color: $turbo-yellow-50;
}
.bg-turbo-yellow-60 {
background-color: $turbo-yellow-60;
}
.bg-turbo-yellow-70 {
background-color: $turbo-yellow-70;
}
.bg-turbo-yellow-80 {
background-color: $turbo-yellow-80;
}
.bg-turbo-yellow-90 {
background-color: $turbo-yellow-90;
}


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
 font-family: 'Poppins', sans-serif;
 background: #fafafa;
}

p {
 font-family: 'Poppins', sans-serif;
 font-size: 1.1em;
 font-weight: 300;
 line-height: 1.7em;
 color: #999;
}

a,
a:hover,
a:focus {
 color: inherit;
 text-decoration: none;
 transition: all 0.3s;
}
.container-fluid
{
  background: rgb(151, 241, 241);
  
}

.navbar {
 padding: 15px 10px;
 background: rgb(136, 120, 120);
 border: none;
 border-radius: 0;
 margin-bottom: 40px;
 box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
 box-shadow: none;
 outline: none !important;
 border: none;
 
}



.line {
 width: 100%;
 height: 1px;
 border-bottom: 1px dashed #ddd;
 margin: 40px 0;
}

/* ---------------------------------------------------
 SIDEBAR STYLE
----------------------------------------------------- */

$lila : $turbo-yellow /*#7386D5*/;
$lila-60 : $turbo-yellow-60 /*#6d7fcc*/;
$lila-line : $turbo-yellow-70 /*#47748b*/;

$text-sidebar : #6b6b6b /*#fff*/;
$text-sidebar-hover : #6b6b6b /*#fff*/;

.text-sidebar {
color: $text-sidebar;
}

.wrapper {
 display: flex;
 width: 100%;
 align-items: stretch;
}

#sidebar {
 min-width: 250px;
 max-width: 250px;
 background: $lila;
 color: $text-sidebar;
 transition: all 0.3s;
}

#sidebar.active {
 margin-left: -250px;
}

#sidebar .sidebar-header {
 padding: 20px;
 background:$lila-60 /*#6d7fcc*/;
}

#sidebar ul.components {
 padding: 20px 0;
 border-bottom: 1px solid $lila-line;
}

#sidebar ul p {
 color: $text-sidebar;
 padding: 10px;
}

#sidebar ul li a {
 padding: 10px;
 font-size: 1.1em;
 display: block;
}

#sidebar ul li a:hover {
 color: $lila;
 background: $text-sidebar-hover;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
 color: $text-sidebar;
 background: $lila-60;
}

a[data-toggle="collapse"] {
 position: relative;
}

.dropdown-toggle::after {
 display: block;
 position: absolute;
 top: 50%;
 right: 20px;
 transform: translateY(-50%);
}

ul ul a {
 font-size: 0.9em !important;
 padding-left: 30px !important;
 background: $lila-60;
}

ul.CTAs {
 padding: 20px;
}

ul.CTAs a {
 text-align: center;
 font-size: 0.9em !important;
 display: block;
 border-radius: 5px;
 margin-bottom: 5px;
}

a.download {
 background: $text-sidebar;
 color: $lila;
}

a.article,
a.article:hover {
 background: $lila-60 !important;
 color: $text-sidebar !important;
}

/* ---------------------------------------------------
 CONTENT STYLE
----------------------------------------------------- */

#content {
 width: 100%;
 padding: 20px;
 min-height: 100vh;
 transition: all 0.3s;
 
}

/* ---------------------------------------------------
 MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
 #sidebar {
     margin-left: -250px;
 }
 #sidebar.active {
     margin-left: 0;
 }
 #sidebarCollapse span {
    background-color: aqua;
     display: none;
 }
}

.dropbtn {
  background-color:rgb(151, 241, 241);
  font-family: 'Poppins', sans-serif;
  color: Gray;
  padding: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: 30px;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(151, 241, 241)}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgb(151, 241, 241);
}
</style>