{% extends "layout.html" %}
{% block body %}
<div class="page-wrap">
<center>        
        <img class="mb-4" width="700" height="450" src="{{ url_for('static',filename='poll.jpg')}}" ><br>

        <h3>What is PUC?</h3>
PUC is an abbreviation of "Pollution Under Control". It is a certificate that is given to the vehicle after having passed a PUC test. The certificate vets that the emissions passed from the vehicles meets the pollution control standards. Under the Central Motor Vehicle Rule, 1989, a PUC certificate is a mandatory document requirement for a vehicle. Validity of PUC for new car is 1 year from the date of registration.

The PUC certificate must mention:
<ul>
<li></li>the certificate serial number</li>
<li>the vehicle license plate number</li>
<li>the date of testing</li>
<li>the expiry date</li>
<li>the emission readings</li>
In a bid to further curb the pollution in the Delhi-NCR region, Supreme court of India has passed an order in August 2017 that for insurance renewal vehicle owners will have to mandatorily furnish PUC certificates.<br><br>
</ul>
<h5>Why is a PUC Certificate Required?</h5>
The emissions from the vehicles emit smoke which has the potential to pollute the environment if left unchecked. As such, there must be a norm to check the vehicle emission levels to determine how safe they are and whether they contribute to air pollution. As such, the rule for undergoing a specified PUC test and obtaining the PUC Certificate was mandated by the Central Motor Vehicle Rule, 1989.<br><br>

<h5>How to Get PUC Certificate?</h5>
Pollution Under Control (PUC) is an authorized certification granted to vehicles that successfully pass the regulated PUC test. Since the validity of the PUC certificate is only for six months, every vehicle owner needs to get their vehicle tested twice in a year. To certify your vehicle, you can get it tested at most Petrol Pumps, who are authorized with specific testing devices and have trained employees for PUC testing only. There are other independent testing centers too that are permitted to conduct PUC tests and issue the certificate. The test checks the emission of % of CO and other Hydrocarbons in ppm against the permitted values.<br>

<h5>Which Vehicles Require a PUC Certification?</h5>
Any vehicle which is operational on Indian roads is required to carry a valid PUC certification<br><br>

<h5>When is the PUC Certification Required?</h5>
When a new vehicle is purchased, a PUC Certificate is issued with the new vehicle which is valid for a period of 1 year. After that a new PUC Certificate would be required through PUC testing.<br><br>

<h5>What is the Validity of a PUC Certificate?</h5>
The validity of the certificate is for six months after which a new certificate would be required. If there is any adverse reading in the PUC test, the validity requirement would be based on the readings of the PUC Test done.<br><br>

<h5>What is the Cost of the PUC Test?</h5>
PUC tests are not expensive on the pockets. The rate of the test varied between Rs.60 and Rs.100 depending on the vehicle to be tested and the fuel type of the vehicle<br>

<h5>What Information Does the Certificate Contain?</h5>
The basic information mentioned on the PUC Certificate would be the:<br>
<ul>
<li>The serial number of the certificate</li>
<li>The license plate number of the vehicle tested</li>
<li>The date of test</li>
<li>The date of expiry of the Certificate</li>
<li>The test readings</li>
</ul>
</center>
</div>
<style>
        
        </style>
{%endblock%}