{% extends "layout.html" %}
{% block body %}

<div class="container">
  <div class="row">
      <div class="col-md-4">
      </div>
    <div class="col-md-4">



<form method=post  action="">
<div class="form-group input-group-lg">
  <label>Edit First Name</label>
  <input type="text" value="{{ data[3] }}" name="fname">
</div>
<label>Edit Last Name</label>
  <div class="form-group input-group-lg">
        <input type="text" value="{{ data[4] }}" name="lname">
    </div>
    <label>Update Phone Number</label>
    <div class="form-group input-group-lg">
            <input type="text" value="{{ data[5] }}" name="phone">
          </div>
      <input type="submit" name="save" value="save" class="btn btn-danger"></br></br>
     <a href="/userdashboard"> <button class="btn btn-warning">Back</button></a>

     

  </form>
  </div>
</div>
</div>

{% endblock %}
