{% extends "layout.html" %}
{% block body %}
<div class="container">
<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4 pt-4">
<h1>Register Here:</h1><br><br>
{% from "formhelper.html" import render_field %}
<form method=post  action="">
<div class="form-group input-group-lg">
  {{render_field(form.firstname, class_="form-control")}}
</div>
<div class="form-group input-group-lg">
    {{render_field(form.lastname, class_="form-control")}}
  </div>
  
<div class="form-group input-group-lg">
    {{render_field(form.email, class_="form-control")}}
  </div>
  <div class="form-group input-group-lg">
      {{render_field(form.phone, class_="form-control")}}
    </div>
  <div class="form-group input-group-lg">
      {{render_field(form.password, class_="form-control")}}
    </div>
    <div class="form-group input-group-lg">
        {{render_field(form.confirm, class_="form-control")}}
      </div>
      <input type="submit" name="submit" value="submit"></br>  

 <!--
  <input type="text" id="username" class="form-control" name="username" placeholder="Enter your username" required=""></br>
  
  <input type="text" id="email" class="form-control" name="email" placeholder="Enter your email" required=""></br>
  
  <input type="text" id="password" class="form-control" name="password" placeholder="Enter your password" required=""></br>
 
  <input type="text" id="confirm" class="form-control" name="confirm" placeholder="Confirm" required=""></br>
  <input type="submit" name="submit" value="submit"></br>
 -->
  </form>
  </div>
</div>
</div>

{% endblock %}
