{% extends "layout.html" %}
{% block body %}
<div class="container">
<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4 pt-4">
<h1>Register form:</h1><br><br>

<form method=post class="form-group input-group-lg" action="">
 
  <input type="text" id="username" class="form-control" name="username" placeholder="Enter your username" required=""></br>
  
  <input type="text" id="email" class="form-control" name="email" placeholder="Enter your email" required=""></br>
  
  <input type="text" id="password" class="form-control" name="password" placeholder="Enter your password" required=""></br>
 
  <input type="text" id="confirm" class="form-control" name="confirm" placeholder="Confirm" required=""></br>
  <input type="submit" name="submit" value="submit"></br>

  </form>
  </div>
</div>
</div>

{% endblock %}
