{% extends "layout.html" %}
{% block body %}
<div class="page-wrap">

<h1>Register form:</h1><br><br>

<form method=post action="">
 
  <input type="text" id="username" name="username" placeholder="Enter your username" required=""></br><br><br>
  
  <input type="text" id="email" name="email" placeholder="Enter your email" required=""></br><br><br>
  
  <input type="text" id="password" name="password" placeholder="Enter your password" required=""></br><br><br>
 
  <input type="text" id="confirm" name="confirm" placeholder="Confirm" required=""></br><br><br>
  <input type="submit" name="submit" value="submit"></br>

  </form>
  </div>
</div>
<style>
   
    </style>

{% endblock %}
