{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/myform.css')}}" type="text/css">
        <div class="container">
            <h1>Enter Details:</h1><br><br>
            {% from "formhelper.html" import render_field %}
            <form method=post  action="" enctype=multipart/form-data>
          <div class="row">
              <div class="col-md-4">
                  <div class="form-group input-group-lg">
                      {{render_field(form.firstname, class_="form-control")}}
                    </div>
                    <div class="form-group input-group-lg">
                        {{render_field(form.email, class_="form-control")}}
                      </div>
                      <div class="form-group input-group-lg">
                          {{render_field(form.ownership, class_="form-control")}}
                        </div>
                          
        <div class="form-group input-group-lg">
            {{render_field(form.purchasedate, class_="form-control")}}
          </div>
              
              <div class="form-group input-group-lg">
                  {{render_field(form.manufacturedate, class_="form-control")}}
                </div>
              
        <div class="form-group input-group-lg">
            {{render_field(form.insurencecompany, class_="form-control")}}
          </div>
          <div class="form-group input-group-lg">
              {{render_field(form.insurancenumber, class_="form-control")}}
            </div>  
              
              </div>
            <div class="col-md-4">
        
        <div class="form-group input-group-lg">
          {{render_field(form.lastname, class_="form-control")}}
        </div>
            
        <div class="form-group input-group-lg">
            {{render_field(form.address, class_="form-control")}}
          </div>
          <div class="form-group input-group-lg">
              {{render_field(form.vetype, class_="form-control")}}
            </div>
            <div class="form-group input-group-lg">
                {{render_field(form.manufacture, class_="form-control")}}
              </div>
              <div class="form-group input-group-lg">
                  {{render_field(form.fuel, class_="form-control")}}
                </div>
                <div class="form-group input-group-lg">
                    {{render_field(form.datefrom, class_="form-control")}}
                  </div>
    
       
      
       
     
      
     
    
     
     
      
  </div> 
  <div class="col-md-4">
      <div class="form-group input-group-lg">
          {{render_field(form.fathersname, class_="form-control")}}
        </div>
        <div class="form-group input-group-lg">
            {{render_field(form.enginenumber, class_="form-control")}}
          </div>
          <div class="form-group input-group-lg">
              {{render_field(form.vclass, class_="form-control")}}
            </div>
                  
        <div class="form-group input-group-lg">
            {{render_field(form.modelname, class_="form-control")}}
          </div>
          <div class="form-group input-group-lg">
              {{render_field(form.color, class_="form-control")}}
            </div>
            <div class="form-group input-group-lg">
                {{render_field(form.dateto, class_="form-control")}}
              </div>
  
  </div>    
          </div>     
           <div class="row">
             <div class="col-md-4"></div>
             <div class="col-md-8">
<table>
  <tr>
    <td>Upload SideView:</td>
    <td> <input type="file" name="sideview" class="button button2"></td>
  </tr>
  <tr>
    <td>Upload FrontView:</td>
    <td> <input type="file" name="frontview" class="button button2"></td>
  </tr>
  <tr>
    <td>Upload BackView:</td>
    <td>   <input type="file" name="backview" class="button button2"></td>
  </tr>
</table>
<input type="submit" value="Submit" class="button button1">



             </div>
           </div>
         
        
         
          </form>
          </div>
     

        
        
  {% endblock %}