{% extends "layout.html" %}
{% block body %}
<div class="page-wrap">
<center>
       <p>Traffic signs are the silent speakers on the road. Be it the person behind the wheel or a pedestrian, having a sound knowledge about road safety is necessary for all before hitting the streets.

        Traffic signs give information about the road conditions ahead, provide instructions to be followed at the major crossroads or junctions, warn or guide drivers, and ensure proper functioning of road traffic. Being unaware of road signs is akin to throwing caution to the wind. It can lead to loss of life and property. A person is supposed to be familiar (get through a written or oral test) with the traffic signs and symbols before acquiring a driving license in India.</p>
        <h2>Road Safety Signs are Primarily of Three Types:</h2>
        <h4>1. Mandatory Signs:</h4>
        <p>These traffic signs are used to ensure free movement of traffic and make the road users cognisant of specific laws and regulations, restrictions and prohibitions. Violation of these road safety signs is an offence, as per law.</p>
        <img class="mb-4" width="600" height="450" src="{{ url_for('static',filename='road-safety-cautionary-signs.jpg')}}" ><br>
        <h4>2. Cautionary Signs:</h4>
        <p>These traffic signs make the road users conscious of hazardous conditions on the road beforehand. The drivers, accordingly, take necessary actions to handle the situation.</p>
        <img class="mb-4" width="600" height="450" src="{{ url_for('static',filename='road-safety-infomatory-signs.jpg')}}" >
        <h4>3. Informatory Signs:</h4>
        <p>These traffic signs guide road users about destinations, distance, alternative routes, and prominent locations like food joints, public toilets, nearby hospitals, etc.</p>
        <img class="mb-4" width="600" height="450" src="{{ url_for('static',filename='road-safety-mandatory-signs.jpg')}}" ><br>
        <br>
        <h2>Road Safety Education</h2>
        <ul>
                <li>Distribute booklets and pamphlets in schools.</li>
                <li>Show presentations on road safety, traffic signs and negative aspects of road accidents in the classrooms.</li>
                <li>Share online content with peers.</li>
                <li>Distribute booklets and pamphlets in schools.</li>
                <li>Encourage parents to help children learn preventive measures in real-time.</li>
                <li>Educate teachers with the basic laws and regulations on the road.</li>
              </ul>
</center>
</div>
<style>
        
        </style>
{%endblock%}