{% extends "layout.html" %}
{% block body %}
<center><br><br><br><br><br><br><br><br><br><br>
<div class="progress">
        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"
        aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100%;color:green;">
          Accepted
        </div>
      </div>
      <br>
      <br>
     <a href="/formtopdf"><button type="button" class="btn-primary">download pdf</button></a>
     <a href="/userdash"><button type="button" class="btn-primary">home</button></a>
    </center>
{%endblock%}