{% extends "layout.html" %}
{% block body %}

<center><br><br><br><br><br><br><br><br><br><br>
    <div class="progress">
            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"
            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:40%;color:red;">
              Declined
            </div>
          </div>
          <br><br>
          Reasons :
          <br>
          *
          <br>
          what to do now?
          <br>
          *
          <br>
          *
        </center>
{%endblock%}