{% extends "layout.html" %}
{% block body %}
{% for mes in get_flashed_messages() %}
<div class="alert" role="alert">{{mes}}</div>
{% endfor %}
<div class="page-wrap">
<center>
<div class="jumbotron pl-4 pt-4">
<div class="container">
        User Dashboard</br>
        <h1>
        Welcome , <b>{{session.logname}}</b></h1>
</div>
</div>
</center>
<br><br><br>
<a href="/llr">Apply for LLR</a><br>
<a href="/dlr">Apply for DLR</a><br>
<a href="/regv">Register Vehicles</a><br>
<a href="/status">Status of request</a><br>





</div>
<style>

</style>
{%endblock%}