{% extends "layout.html" %}

{% block body %}
{% for mes in get_flashed_messages() %}
<div class="alert" role="alert">{{mes}}</div>
{% endfor %}
<div class="page-wrap">
<center>
<div class="jumbotron pl-4 pt-4">
<div class="container">
        User Dashboard</br>
        <h1>
        Welcome , <b>{{session.logname}}</b></h1>
</div>
</div>
</center>
<br><br><br>
<a href="/llr">Apply for LLR</a><br>
<a href="/dlr">Apply for DLR</a><br>
<a href="/regv">Register Vehicles</a><br>
<a href="/status">Status of request</a><br>
<div class="dropdown">
        <button class="dropbtn">Download</button>
        <div class="dropdown-content">
          <a href="/dlllr">Download LLR</a>
          <a href="/dldlr">Download DLR</a>
          <a href="/dlvr">Download VEHICLE REG</a>
        </div>
</div>





</div>
<style>
        .dropbtn {
          background-color: #4CAF50;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
        }
        
        .dropdown {
          position: relative;
          display: inline-block;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
        
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        
        .dropdown-content a:hover {background-color: #ddd;}
        
        .dropdown:hover .dropdown-content {display: block;}
        
        .dropdown:hover .dropbtn {background-color: #3e8e41;}
        </style>
{%endblock%}