<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
  <center>
    <div>
      This is to certify that the candidate Mr . {{data[0]}} {{data[1]}} owns the hence forth vehicle.
    </div>
  


<table>
        <tr>
          <th>First Name</th>
          <td>{{data[0]}}</td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td>{{data[1]}}</td>
        </tr>
        <tr>
          <th>Fathers Name</th>
          <td>{{data[2]}}</td>
        </tr>
        <tr>
                <th>Email</th>
                <td>{{data[3]}}</td>
              </tr>
        <tr>
          <th>Address</th>
          <td>{{data[4]}}</td>
          
        </tr>
        <tr>
          <th>Engine Number</th>
          <td>{{data[5]}}</td>
          </tr>
          <tr>
            <th>OwnerShip</th>
            <td>{{data[6]}}</td>
            </tr>
            <tr>
              <th>Vehicle Type</th>
              <td>{{data[7]}}</td>
              </tr>
              <tr>
                <th>Vehicle Class</th>
                <td>{{data[8]}}</td>
                </tr>
                <tr>
                  <th>Purchase Date</th>
                  <td>{{data[9]}}</td>
                  </tr>
                  <tr>
                    <th>Manufacturer</th>
                    <td>{{data[10]}}</td>
                    </tr>
                    <tr>
                      <th>Model Name</th>
                      <td>{{data[11]}}</td>
                      </tr>
                      <tr>
                        <th>Manufacture Date</th>
                        <td>{{data[12]}}</td>
                        </tr>
                          <tr>
                            <th>Fuel Type</th>
                            <td>{{data[13]}}</td>
                            </tr>
                            <tr>
                              <th>Color</th>
                              <td>{{data[14]}}</td>
                              </tr>
                              <tr>
                                <th>Insurance Company Name</th>
                                <td>{{data[15]}}</td>
                                </tr>
                                <tr>
                                        <th>Valid From :</th>
                                        <td>{{data[16]}}</td>
                                        </tr>
                                        <tr>
                                                <th>Valid Till</th>
                                                <td>{{data[17]}}</td>
                                                </tr>
                                                <tr>
                                                        <th>Insurance Number</th>
                                                        <td>{{data[18]}}</td>
                                                        </tr>
                                                        <tr>
                                                                <th>Registered Vehicle Number</th>
                                                                <td>{{data[20]}}</td>
                                                                </tr>
       
      </table>
      <b>
            Certificate<br>
            Inspected the vehicle- verified the chassis number and engine number.<br>
            Certified that the particulars contained in the application and the corresponding<br>
            particulars declared in the Certificate of Registration of the vehicle are true and<br>
            that the vehicle complies with the requirement of the Motor Vehicles Act, 1988<br>
            and Rules made thereunder<br></b>  
</center>
      </body>
      </html>
